body{
  width: 100%;
  height: auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slideImg 8s linear infinite 0s;
  animation-timing-function: ease-in-out;
  background-image: url("src/assets/img/1.jpg");
}

@keyframes slideImg {
  0%{
    background-image: url("src/assets/img/1.jpg");
  }
  25%{
    background-image: url("src/assets/img/2.jpg");
  }
  50%{
    background-image: url("src/assets/img/4.jpg");
  }
  75%{
    background-image: url("src/assets/img/5.jpg");
  }
  100%{
    background-image: url("src/assets/img/3.jpg");
  }
}

.container{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
img{
  width: 500px;
  height: 500px;
  margin-top: 100px;
}
label{
  font-weight: bold;
  color: mediumvioletred;
  font-size: 18px;
}
form{
  width: 500px;
  height: auto;
  margin-left: 100px;
  margin-top: 128px;
}
#directionCo{
  width: 500px;
  height: 80px;
  margin-top: 48px;
}
b{
  font-size: 20px;
}
.form-control.is-invalid{
  border-color: red;
  background-repeat: no-repeat;
}
.invalid-feedback{
  font-size: 15px;
  color: red;
}
